.mw-0 {
    min-width: 0;
}
.w-100 {
    width: 100%;
}

.size-28 {
    width: 28px;
    height: 28px;
}

.min-vh-100 {
    min-height: 100vh;
}
.w-200 {
    width: 200px;
}

.mw-70 {
    max-width: 70px;
}